VITE_API_URL=http://localhost:5083/api

VITE_THUNDERID_BASE_URL=
VITE_THUNDERID_CLIENT_ID=
VITE_THUNDERID_SCOPES="openid profile email roles"
VITE_THUNDERID_AFTER_SIGN_IN_URL=http://localhost:5173
VITE_THUNDERID_AFTER_SIGN_OUT_URL=http://localhost:5173
